p {
    color: red;
}

img {
    padding: 5px;
}

body {
    background-color: gray;
}

button {
    display: block;
    margin-top: 5px;
}

/* Flex Box for dice,  */
.contentWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* Gives margin to dice */
.diceContainer {
    margin-bottom: 30px;
}

.dice {
    color:black;
    border: 2px solid black;
    display: inline;
    padding:10px;
    margin: 5px;
}


