p {
    color: black;
}

img {
    padding: 5px;
}

body {
    background-color: gray;
}

button {
    display: block;
    margin-top: 5px;
}

#leaveRoomButton {
    position: absolute;
        top: 10px;
        right: 10px;
}

/* Lobby CSS */
#inputContainer {
    position: relative;
}

#inputContainer .roomDisplayBox{
    width: 300px;
    height: 200px;
    padding: 5px;
    
    background-color: darkgray;
    border-color: black;
    border-style: solid;
    border-radius: 50px;
    overflow-y: auto;
    position: absolute;
    left: 225px;
    top: 10px;
    transition: 0.5s;

    display: flex;
    flex-direction: column;
    align-items: center; 
}

.roomDisplayBox p {
    display: block;
    text-size-adjust: 20px;
    margin: 0;
}

.roomDisplayBox u {
    display: block;
}

#inputContainer .roomDisplayBox:hover{
    transform: scale(1.05);
    background-color: maroon;
}

/* Flex Box for dice,  */
.contentWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* Gives margin to dice */
.diceContainer {
    margin-bottom: 30px;
}

.dice {
    color:black;
    border: 2px solid black;
    background-color: white;
    display: inline;
    padding: 10px;
    margin: 5px;
}

.diceImage {
    width: 66px;
}

.keepDiceButton {
    background-color: LightGray;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5px;
    margin-right: 11px;
    margin-bottom: 15px;
}

#turnDisplay {
    position: relative;
    width: 300px;
    height: 10px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: darkgray;
    border-radius: 10px;
}

#turnDisplay p {
    margin: 0;
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%);  
}

#gameInformationVBox {
    width: 300px;
    height: 200px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: darkgray;
    border-radius: 50px;
    overflow-y: auto;
}

#clientCount {
    font-size: large;
}



